* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

body { 
    margin: 0;
    background-color: #b4ddf0;
    background-image: linear-gradient(#90D5EC, #b4ddf0);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	color: white;
}

li {
	list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
    list-style-type: none;
}

nav ul li span {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Zeyada', cursive;
    font-size: 2rem;
}

nav ul input {
    position: absolute;
    opacity: 0.3;
    visibility:hidden;
}

section { 
    width: 100vw;
    height: 100vh;
	position: relative;
}

section:nth-child(1) { /* Zonsondergang */
	background: linear-gradient(#BF5464, #C15B69, #D2777B, #F7B2A2, #F5B0A1 );
}

section:nth-child(2) { /* Daglicht */
    background: linear-gradient(#b4ddf0, #9cc7db, #8cc8e4 );
}

section:nth-child(3) { /* nacht */
    background: linear-gradient(#01162E, #001D37, #002746, #013155, #003A63, #01426D);
}



section:nth-of-type(1) > div:nth-of-type(1) {
	position: absolute;
	width: 100vw;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(#30152E 10%, #358335 100%) ;
	height: 30%;
}

section:nth-of-type(2) > div:nth-of-type(1) {
	position: absolute;
	width: 100vw;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #165c14;
	height: 30%;
}

section:nth-of-type(3) > div:nth-of-type(1) {
	position: absolute;
	width: 100vw;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(#011600 10%, #022b01 100%) ;
	height: 30%;
}

body:has(input[value="home"]:checked) main {
    transform: translateX(-100vw);
}

body:has(input[value="links"]:checked) main {
    transform: translateX(0);
}

body:has(input[value="rechts"]:checked) main {
    transform: translateX(-200vw);
}

main {
    width: 300vw;
    display: flex;
    transition: 1s ease-in-out;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!! Sectie 1 bergen !!!!!!!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/ 
main ul {
	display:flex;
	align-items:end;
	justify-content:space-between;
	margin:0;
	padding:0;
	list-style:none;
	position: relative;
	height: 70%;

	background-color:transparent;
}

main li {
	position:relative;
	width: 100%;
	height: 100%;;
}

main li figure {
	position: absolute;
	width:var(--width, 10em);
	/* height:var(--height, 10em); */
	aspect-ratio: var(--aspect, 1.5);
	
	left:var(--left, 0);
	z-index:var(--z-index, 0);
	bottom: var(--bottom, 0);
}

main li figure > div {
	position:absolute;
	inset:0;
	
}

main li figure > div:nth-of-type(1) { /*Berg*/
	background-color:var(--clr-sun, lightgreen);

	clip-path: polygon(
		var(--point, 50%) 0%, 
		var(--shade, 50%) 100%, 
		0% 100%, 
		var(--point, 50%) 0%
	);

}

main li figure > div:nth-of-type(2) { /*schaduw*/
	background-color:var(--clr-shade, green);
	
	clip-path: polygon(
		var(--point, 50%) 0%, 
		var(--shade, 50%) 100%, 
		100% 100%, 
		var(--point, 50%) 0%
	);

}

/* snow */
main div div {
	position:absolute;
	width:100%;
	height:var(--snow, 40%);
}

main div div {
	clip-path: polygon(
	36% 100%,
	26% 70%,
	10% 100%,
	0 67%,
	0% 0%,
	100% 0%,
	100% 66%,
	86% 89%,
	79% 56%,
	68% 100%,
	59% 72%,
	45% 68%);
}

main div:nth-of-type(1) div {
	background-color:var(--snw-sun, #fff);
}


main div:nth-of-type(2) div {
	background-color:var(--snw-shade, #ccd);
}


/*************/
/* DE BERGEN */
/*************/

section:nth-of-type(1) li:nth-of-type(1) figure {
	--width:140%;
	--aspect: 1;
	
	
	--shade:70%;
	--point:40%;
	
	--snow: 40%;
	
	--clr-sun: #EF7EA2;
	--clr-shade:#B979B0;
	
	--snw-sun: transparent;
	--snw-shade: transparent;

    --left: -3vw;
	--bottom: -1vh;
}

section:nth-of-type(1) li:nth-of-type(2) figure {
	--width:310%;
	--aspect: 0.9;

	--shade:70%;
	--point:60%;
	
	--snow: 40%;
	
	--clr-sun:#65618E;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

    --left: -8vw;
	--bottom: -2vh;

	--z-index: 3;
}

section:nth-of-type(1) li:nth-of-type(3) figure {
	--width:300%;
	--aspect: 1.1;
	
	--shade:70%;
	--point:10%;
	
	--snow: 50%;
	
	--clr-sun:#7974af;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

    --left: 2vw;
	--z-index: 1;
	--bottom: -1vh;
}

section:nth-of-type(1) li:nth-of-type(4) figure {
	--width:300%;
	--aspect: 1;
	
	--shade:70%;
	--point:80%;
	
	--snow: 40%;
	
	--clr-sun:#6f6b9e;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

    --left: -2vw;
	--bottom: -1vh;
	--z-index: 2;
}

section:nth-of-type(1) li:nth-of-type(5) figure {
	--width:200%;
	--aspect: 1;
	
	--shade:70%;
	--point:20%;
	
	--snow: 40%;
	
	--clr-sun:#7974af;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

    --left: -2vw;
	--bottom: -1.5vh;
	--z-index: 3;
}

section:nth-of-type(1) li:nth-of-type(6) figure {
	--width:200%;
	--aspect: 0.8;
	
	--shade: 67%;
	--point:100%;
	
	--snow: 40%;
	
	--clr-sun:#6f69ac;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

    --left: 2vw;
	--bottom: -1vh;
	--z-index: 2;
}

section:nth-of-type(1) li:nth-of-type(7) figure {
	--width:200%;
	--aspect: 1.2;
	
	--shade: 67%;
	--point:30%;
	
	--snow: 40%;
	
	--clr-sun:#9793c4;
	--clr-shade:#797cad;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

	--left: -6vw;
	--bottom: -1vh;
	--z-index: 1;
}

section:nth-of-type(1) li:nth-of-type(8) figure {
	--width:400%;
	--aspect: 1;
	
	--shade: 75%;
	--point:10%;
	
	--snow: 60%;
	
	--clr-sun:#7974af;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

	--left: -2vw;
	--bottom: -1.3vh;
	--z-index: 0;
}

section:nth-of-type(1) li:nth-of-type(8) figure {
	--width:400%;
	--aspect: 1.2;
	
	--shade: 75%;
	--point:10%;
	
	--snow: 60%;
	
	--clr-sun:#7974af;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

	--left: -2vw;
	--bottom: 0vh;
	--z-index: 0;
}

section:nth-of-type(1) li:nth-of-type(9) figure {
	--width:300%;
	--aspect: 1.1;
	
	--shade: 30%;
	--point:50%;
	
	--snow: 30%;
	
	--clr-sun:#6f69ac;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

	--left: -2vw;
	--bottom: -0.5vh;
	--z-index: 0;
}

section:nth-of-type(1) li:nth-of-type(10) figure {
	--width:200%;
	--aspect: 1.5;
	
	--shade: 80%;
	--point: 40%;
	
	
	--clr-sun:#6f69ac;
	--clr-shade:#494B72;
	
	--snw-sun: transparent;
	--snw-shade: transparent;

	--left: 1vw;
	--bottom: -1.5vh;
	--z-index: 4;
}

section:nth-of-type(1) li:nth-of-type(11) figure {
	--width:300%;
	--aspect: 1.2;
	
	--shade: 30%;
	--point:20%;
	
	--snow: 50%;
	
	--clr-sun:#6f69ac;
	--clr-shade:#494B72;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

	--left: 4vw;
	--bottom: -1vh;
	--z-index: 3;
}

section:nth-of-type(1) li:nth-of-type(12) figure {
	--width:200%;
	--aspect: 1.5;
	
	--shade: 80%;
	--point:60%;
	
	
	--clr-sun:#9793c4;
	--clr-shade:#797cad;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

	--left: -11vw;
	--bottom: -1vh;
	--z-index: 1;
}

section:nth-of-type(1) li:nth-of-type(13) figure {
	--width:300%;
	--aspect: 0.9;
	
	--shade: 40%;
	--point:30%;
	
	--snow: 60%;
	
	--clr-sun: #6f69ac;
    --clr-shade: #494B72;

    --snw-sun: #FECFDF;
    --snw-shade: #7E80A9;

	--left: 0vw;
	--bottom: -1.5vh;
	--z-index: 3;
}

section:nth-of-type(1) li:nth-of-type(14) figure {
	--width:300%;
	--aspect: 1.3;
	
	--shade: 80%;
	--point:90%;
	
	--snow: 60%;
	
	--clr-sun:#7974af;
	--clr-shade:#505281;
	
	--snw-sun: #FECFDF;
	--snw-shade: #7E80A9;

	--left: -6.5vw;
	--bottom: -1.5vh;
	--z-index: 1;
}

section:nth-of-type(1) li:nth-of-type(15) figure {
	visibility: hidden;
	
}






/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!! Sectie 2 bergen !!!!!!!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/ 

section:nth-of-type(2) li:nth-of-type(1) figure {
	--width:140%;
	--aspect: 1;
	
	
	--shade:70%;
	--point:40%;
	
	--snow: 40%;
	
	--clr-sun: #68F193;
	--clr-shade:#40945C;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

    --left: -1vw;
	--bottom: -1vh;
}

section:nth-of-type(2) li:nth-of-type(2) figure {
	--width:310%;
	--aspect: 0.9;

	--shade:70%;
	--point:40%;
	
	--snow: 40%;
	
	--clr-sun: #68F193;
	--clr-shade:#40945C;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

    --left: -5vw;
	--bottom: -2vh;

	--z-index: 3;
}

section:nth-of-type(2) li:nth-of-type(3) figure {
	--width:300%;
	--aspect: 1.1;
	
	--shade:70%;
	--point:10%;
	
	--snow: 50%;
	
	--clr-sun:#3da75d;
	--clr-shade:#357639;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

    --left: 2vw;
	--z-index: 1;
	--bottom: -1vh;
}

section:nth-of-type(2) li:nth-of-type(4) figure {
	--width:300%;
	--aspect: 1;
	
	--shade:70%;
	--point:80%;
	
	--snow: 40%;
	
	--clr-sun:#1b8f3e;
	--clr-shade:#1f4b22;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

    --left: -2vw;
	--bottom: -1vh;
	--z-index: 2;
}

section:nth-of-type(2) li:nth-of-type(5) figure {
	--width:200%;
	--aspect: 1;
	
	--shade:70%;
	--point:20%;
	
	--snow: 40%;
	
	--clr-sun:#3da75d;
	--clr-shade:#357639;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

    --left: -2vw;
	--bottom: -1.5vh;
	--z-index: 3;
}

section:nth-of-type(2) li:nth-of-type(6) figure {
	--width:200%;
	--aspect: 0.8;
	
	--shade: 67%;
	--point:100%;
	
	--snow: 40%;
	
	--clr-sun:#1b8f3e;
	--clr-shade:#1f4b22;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

    --left: 2vw;
	--bottom: -1vh;
	--z-index: 2;
}

section:nth-of-type(2) li:nth-of-type(7) figure {
	--width:200%;
	--aspect: 1.2;
	
	--shade: 67%;
	--point:30%;
	
	--snow: 40%;
	
	--clr-sun: #68F193;
	--clr-shade:#40945C;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: -6vw;
	--bottom: -1vh;
	--z-index: 1;
}

section:nth-of-type(2) li:nth-of-type(8) figure {
	--width:400%;
	--aspect: 1;
	
	--shade: 75%;
	--point:10%;
	
	--snow: 60%;
	
	--clr-sun:#3da75d;
	--clr-shade:#357639;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: -2vw;
	--bottom: -1.3vh;
	--z-index: 0;
}

section:nth-of-type(2) li:nth-of-type(8) figure {
	--width:400%;
	--aspect: 1.2;
	
	--shade: 75%;
	--point:10%;
	
	--snow: 60%;
	
	--clr-sun:#3da75d;
	--clr-shade:#357639;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: -2vw;
	--bottom: 0vh;
	--z-index: 0;
}

section:nth-of-type(2) li:nth-of-type(9) figure {
	--width:300%;
	--aspect: 1.1;
	
	--shade: 30%;
	--point:50%;
	
	--snow: 30%;
	
	--clr-sun:#1b8f3e;
	--clr-shade:#1f4b22;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: -2vw;
	--bottom: -0.5vh;
	--z-index: 0;
}

section:nth-of-type(2) li:nth-of-type(10) figure {
	--width:200%;
	--aspect: 1.5;
	
	--shade: 80%;
	--point: 40%;
	
	
	--clr-sun:#158136;
	--clr-shade:#113013;
	
	--snw-sun: transparent;
	--snw-shade: transparent;

	--left: 1vw;
	--bottom: -1.5vh;
	--z-index: 4;
}

section:nth-of-type(2) li:nth-of-type(11) figure {
	--width:300%;
	--aspect: 1.2;
	
	--shade: 30%;
	--point:20%;
	
	--snow: 50%;
	
	--clr-sun:#168537;
	--clr-shade:#1a471d;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: 4vw;
	--bottom: -1vh;
	--z-index: 3;
}

section:nth-of-type(2) li:nth-of-type(12) figure {
	--width:200%;
	--aspect: 1.5;
	
	--shade: 80%;
	--point:60%;
	
	
	--clr-sun:#1c923f;
	--clr-shade:#1e5c23;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: -11vw;
	--bottom: -1vh;
	--z-index: 1;
}

section:nth-of-type(2) li:nth-of-type(13) figure {
	--width:300%;
	--aspect: 0.9;
	
	--shade: 40%;
	--point:30%;
	
	--snow: 60%;
	
	--clr-sun:#21a348;
	--clr-shade:#216d27;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: 0vw;
	--bottom: -1.5vh;
	--z-index: 3;
}

section:nth-of-type(2) li:nth-of-type(14) figure {
	--width:300%;
	--aspect: 1.3;
	
	--shade: 80%;
	--point:90%;
	
	--snow: 60%;
	
	--clr-sun:#148837;
	--clr-shade:#134d18;
	
	--snw-sun: #dddddd;
	--snw-shade: #cccccc;

	--left: -6.5vw;
	--bottom: -1.5vh;
	--z-index: 1;
}

section:nth-of-type(2) li:nth-of-type(15) figure {
	visibility: hidden;
	
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!! Sectie 3 bergen !!!!!!!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/ 

section:nth-of-type(3) li:nth-of-type(1) figure {
	--width:140%;
	--aspect: 1;
	
	
	--shade:70%;
	--point:0%;
	
	--snow: 40%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: transparent;
	--snw-shade: transparent;

    --left: 0vw;
	--bottom: -1vh;
}

section:nth-of-type(3) li:nth-of-type(2) figure {
	--width:310%;
	--aspect: 0.9;

	--shade:70%;
	--point:30%;
	
	--snow: 40%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

    --left: -5vw;
	--bottom: -2vh;

	--z-index: 3;
}

section:nth-of-type(3) li:nth-of-type(3) figure {
	--width:300%;
	--aspect: 1.1;
	
	--shade:70%;
	--point:10%;
	
	--snow: 50%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

    --left: 2vw;
	--z-index: 1;
	--bottom: -1vh;
}

section:nth-of-type(3) li:nth-of-type(4) figure {
	--width:300%;
	--aspect: 1;
	
	--shade:70%;
	--point:80%;
	
	--snow: 40%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

    --left: -2vw;
	--bottom: -1vh;
	--z-index: 2;
}

section:nth-of-type(3) li:nth-of-type(5) figure {
	--width:200%;
	--aspect: 1;
	
	--shade:70%;
	--point:20%;
	
	--snow: 40%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

    --left: -2vw;
	--bottom: -1.5vh;
	--z-index: 3;
}

section:nth-of-type(3) li:nth-of-type(6) figure {
	--width:200%;
	--aspect: 0.8;
	
	--shade: 67%;
	--point:100%;
	
	--snow: 40%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

    --left: 2vw;
	--bottom: -1vh;
	--z-index: 2;
}

section:nth-of-type(3) li:nth-of-type(7) figure {
	--width:200%;
	--aspect: 1.2;
	
	--shade: 67%;
	--point:30%;
	
	--snow: 40%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

	--left: -6vw;
	--bottom: -1vh;
	--z-index: 1;
}

section:nth-of-type(3) li:nth-of-type(8) figure {
	--width:400%;
	--aspect: 1;
	
	--shade: 75%;
	--point:10%;
	
	--snow: 60%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

	--left: -2vw;
	--bottom: -1.3vh;
	--z-index: 0;
}

section:nth-of-type(3) li:nth-of-type(8) figure {
	--width:400%;
	--aspect: 1.2;
	
	--shade: 75%;
	--point:10%;
	
	--snow: 60%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

	--left: -2vw;
	--bottom: 0vh;
	--z-index: 0;
}

section:nth-of-type(3) li:nth-of-type(9) figure {
	--width:300%;
	--aspect: 1.1;
	
	--shade: 30%;
	--point:50%;
	
	--snow: 30%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

	--left: -2vw;
	--bottom: -0.5vh;
	--z-index: 0;
}

section:nth-of-type(3) li:nth-of-type(10) figure {
	--width:200%;
	--aspect: 1.5;
	
	--shade: 80%;
	--point: 40%;
	
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

	--left: 1vw;
	--bottom: -1.5vh;
	--z-index: 4;
}

section:nth-of-type(3) li:nth-of-type(11) figure {
	--width:300%;
	--aspect: 1.2;
	
	--shade: 30%;
	--point:20%;
	
	--snow: 50%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

	--left: 4vw;
	--bottom: -1vh;
	--z-index: 3;
}

section:nth-of-type(3) li:nth-of-type(12) figure {
	--width:200%;
	--aspect: 1.5;
	
	--shade: 80%;
	--point:60%;
	
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;

	--left: -11vw;
	--bottom: -1vh;
	--z-index: 1;
}

section:nth-of-type(3) li:nth-of-type(13) figure {
	--width:300%;
	--aspect: 0.9;
	
	--shade: 40%;
	--point:30%;
	
	--snow: 60%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;
	--left: 0vw;
	--bottom: -1.5vh;
	--z-index: 3;
}

section:nth-of-type(3) li:nth-of-type(14) figure {
	--width:300%;
	--aspect: 1.3;
	
	--shade: 80%;
	--point:90%;
	
	--snow: 60%;
	
	--clr-sun:#022A49;
	--clr-shade:#021627;
	
	--snw-sun: #117CBB;
	--snw-shade: #012241;
	--left: -6.5vw;
	--bottom: -1.5vh;
	--z-index: 1;
}

section:nth-of-type(3) li:nth-of-type(15) figure {
	visibility: hidden;
	
}